// <% if(isNeedAutoSprite) { %>
@lazysprite "other"; // 以sprite/other目录生成雪碧图
// })<% } %>
@import url('./core/reset.css');
body
  background-color:green;
  h1
    color:#fff;
ul
  list-style: none;
  display: flex;
  flex-direction: row;
  li
    width: 32px;
    height: 32px;
    margin:10px 5px 0 0;
